
body {
  background-color: #89A6C7;
  color: #633755}
p{
  text-align: center;
color: #E0EEF5}
img {
  width: 600px;}
p {
  font-family: impact;
  font-size: 40px;}
table{
  background-color: #A290A2;
  color: black
}

form{
  font-size: 30px;
color: #E0EEF5;
text-align: center}

iframe { width: 370px;
align: center}
